<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Story</title>
    <link rel="stylesheet" href="crew.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="secondClick"></i>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/story">OUR STORY</a>
                </li>
                <li>
                    <a href="/location">LOCATION</a>
                </li>
                <li>
                    <a href="/crew">MEET THE CREW</a>
                </li>
                <li>
                    <a href="/gallery">GALLERY</a>
                </li>
                <li>
                    <a href="/rsvp">RSVP</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" id="firstClick"></i>
       </nav>

       
       <h1>MEET THE CREW</h1>
       <section class="chairman">
        <img src="https://via.placeholder.com/320" alt="">
        <h3>About The Chairman</h3>
        <p>
            orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
            Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor
            venenatis. Donec a dui et dui Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
            fermentum vel tincidunt neque. Sed sed
        </p>
       </section>

    <section class="gallery">

        <div class="wrap">
            <images class="container">
                <img src="https://via.placeholder.com/320" alt="">
                
                <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquamorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam
                </div>
            </images>
            <images class="container">
                <img src="https://via.placeholder.com/320" alt="">
                <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam
                </div>
            </images>
            <images class="container">
                <img src="https://via.placeholder.com/320" alt="">
                <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam
                </div>
            </images>
            <images class="container">
                <img src="https://via.placeholder.com/320" alt="">
                <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam
                </div>
            </images>
            <images class="container">
                <img src="https://via.placeholder.com/320" alt="">
                <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam
                </div>
            </images>
            <images class="container">
                <img src="https://via.placeholder.com/320" alt="">
                <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                    Nunc posuere purus rhoncus pulvinar aliquam
                </div>
            </images>
        </div>
        
       
    </section>
    
    <script src="index.js"></script>
</body>
</html>