<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Story</title>
    <link rel="stylesheet" href="gallery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="secondClick"></i>
            <ul>
                <li>
                     <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/story">OUR STORY</a>
                </li>
                <li>
                    <a href="/location">LOCATION</a>
                </li>
                <li>
                    <a href="/crew">MEET THE CREW</a>
                </li>
                <li>
                    <a href="/gallery">GALLERY</a>
                </li>
                <li>
                    <a href="/rsvp">RSVP</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" id="firstClick"></i>
       </nav>

    <section class="gallery">
        <h1>GALLERY</h1>
        <images class="container">
            <img src="/Images/DSC07427.jpg" alt="">
            <img src="/Images/5.jpg" alt="">
            <img src="/Images/3.jpg" alt="">
            <img src="/Images/1.jpg" alt="">
            <img src="/Images/4.jpg" alt="">
            <img src="/Images/IMG-20221011-WA0067.jpg" alt="">
            <img src="Images/IMG-20221011-WA0059.jpg" alt="">
            <img src="Images/IMG_20220910_150726_353.jpg" alt="">
            <img src="/Images/DSC07373.jpg" alt="">
        </images>
       
    </section>
    
    <script src="index.js"></script>
</body>
</html>