<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Story</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="navbar"> 
        <div class="top-text">
            <h3>Grace <br> & <br> Tunji</h3>
            <p>ARE GETTING MARRIED</p>
        </div>
       <nav>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="secondClick"></i>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/story">OUR STORY</a>
                </li>
                <li>
                    <a href="/location">LOCATION</a>
                </li>
                <li>
                    <a href="/crew">MEET THE CREW</a>
                </li>
                <li>
                    <a href="/gallery">GALLERY</a>
                </li>
                <li>
                    <a href="/rsvp">RSVP</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" id="firstClick"></i>
       </nav>
    </section>

            <!--Second Section  -->

    <section class="second-section">
        <div class="second-section-header">
                <h3>HAPPY COUPLE</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                   Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor
                   venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                   fermentum vel tincidunt neque. Sed sed
                </p>
        </div>
        <div class="row">
            <div class="second-section-col">
                <img src="/Images/IMG-20221019-WA0033.jpg" alt="Groom">
                <h4>THE GROOM</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                   Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor
                   venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                   fermentum vel tincidunt neque. Sed sed
                </p>
            </div>

            <div class="second-section-col">
                <img src="/Images/DSC07465.jpg"  alt="Bride">
                <h4>THE BRIDE</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                   Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor
                   venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                   fermentum vel tincidunt neque. Sed sed
                </p>
            </div>
        </div>
    </section>

    <section class="third-section">
        <div class="third-section-text">
            <h3>Forever<br> Is <br> The Deal</h3>
            <p>GRACE & TUNJI</p>
        </div> 
    </section>

    <section class="fourth-section">
        <div class="fourth-section-text">
            <h3>ARE YOU ATTENDING ?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor
                venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                fermentum vel tincidunt neque. Sed sed
            </p>
        </div>
    </section>

    <section class="fifth-section">
        <p id="counter"></p>
        
    </section>

    <div class="cta">
        <a href="/rsvp" class="rsvp">RSVP</a>
    </div>

    <script src="index.js"></script>
    <script src="counter.js"></script>
</body>
</html>