<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Story</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="navbar"> 
        <div class="top-text">
            <h3>Grace <br> & <br> Tunji</h3>
            <p>ARE GETTING MARRIED</p>
        </div>
       <nav>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="secondClick"></i>
            <ul>
                <li>
                    <a href="https://grace-tuntom.herokuapp.com/">HOME</a>
                </li>
                <li>
                    <a href="#story-section">OUR STORY</a>
                </li>
                <li>
                    <a href="#location-section">LOCATION</a>
                </li>
                <li>
                    <a href="#crew-section">MEET THE CREW</a>
                </li>
                <li>
                    <a href="#gallery-section">GALLERY</a>
                </li>
                <li>
                    <a href="#rsvp-section">RSVP</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" id="firstClick"></i>
       </nav>
    </section>

            <!--Second Section  -->

    <section class="second-section">
        <div class="second-section-header">
                <h3>HAPPY COUPLE</h3>
                <p>There is no fear in love. But perfect love drives out
                    fear because fear has to do with punishment. The one who fears is not
                    made perfect in love. We love because He first loved us.....
                </p>
        </div>
        <div class="row">
            <div class="second-section-col">
                <img src="/Images/IMG-20221019-WA0033.jpg" alt="Groom">
                <h4>THE GROOM</h4>
                <p>You are the love that came without warning; you had my heart 
                    before I could say no. It's such a beautiful thing watching our love
                    grow into the desire to want to spend together forever..... 
                </p>
            </div>

            <div class="second-section-col">
                <img src="/Images/DSC07465.jpg"  alt="Bride">
                <h4>THE BRIDE</h4>
                <p>There is only one happiness in life: To love and to be loved.
                    And it's the most blissful thing to experience both in a lifetime.
                    I'm ready and happy to take this journey with you TUNTOM.
                </p>
            </div>
        </div>
    </section>

    <section class="third-section">
        <div class="third-section-text">
            <h3>Forever<br> Is <br> The Deal</h3>
            <p>GRACE & TUNJI</p>
        </div> 
    </section>

    <!-- <section class="fourth-section">
        <div class="fourth-section-text">
            <h3>ARE YOU ATTENDING ?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor
                venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                fermentum vel tincidunt neque. Sed sed
            </p>
        </div>
    </section> -->

    <section class="fifth-section">
        <p id="counter"></p>
        
    </section>

    <section id="story-section">
        <section class="story-navbar"> 
            <div class="story-navbar-text">
                <h3>OUR STORY</h3>
                <p>
                   It all started with hi; happy sunday. We enjoyed your guitar today, will u come next Sunday, did u enjoy our service?
                   and she requested my contacts. <br>  Learn a musical instruments, e get why!
                </p>
            </div>
        </section>
    
    
        <section class="second-story">
            <div class="second-story-text">
                <h3>FIRST MET</h3>
                <p>
                        I met Grace during my Nysc, I was invited to one of the churches in the town by a fellow corper who saw me playing guitar some 
                        days after resumption fully for the service year. He was excited seeing another instrumentalist and said he would love us to play together.
                        So he invited me to his church which was my first Sunday service in the town. He came to pick me Saturday preceding the Sunday for the 
                        choir rehearsal where I first met Grace. Our love wasn't a love at first sight but I admired her as she has a sonorous voice that compliments
                        her look coupled with how she coordinates her choir team. The Sunday service was electrifying as she led the congregation in praise and worship
                        songs. While parking my guitar after the service, she came around in excitement of a flawless song rendition and how amazing my guitar sounded. 
                        It all started with;...hi, happy sunday. We really enjoyed you during service today, hope to see you next sunday! Did you enjoy our service?,.should 
                        we be expecting u next Sunday blah blah blah,. as we both chitchat for a while.  
                    <br> </br>
                    Being indecisive, I still wanted to explore other denominations before settling for one but here comes a damsel extending an arm of fellowship with me already.
                     Lo and behold, she requested my contact and we continued our discussion online. Our talks were all platonic, no strings attached just church and music but I do 
                     enjoy her company each time we had contact and love to hear her sing. Fast forward to 2019 I was at ShopRite with my cousin when I heard corper Tunji from behind. 
                     Turning around I saw Grace with her charming smile, all glammed up. We hugged, chatted and exchange contact again. During the small chat, I discovered she had 
                     finished nursing school and just got an offer in Lagos to resume on Monday. I wished her luck and we kept in touch since then. All along we kept on talking, chatting 
                     and I discovered we had a lot of things in common. Our orientation and perception about things were kind of similar, and to crown it all she's phenomenal, not the
                     regular drama queen or entitled lady. She is quiet and the true definition of peace of mind you can ever think of. At first, I thought she was faking it as she rarely 
                     get upset, she'd just smile and has this stylish way of turning things down without really speaking out. 
                </p>
            </div>
    
            <div class="third-story-section">
                <div class="third-story-section-text">
                    <h3>So Far <br> So <br> Good </h3>
                </div>
            </div>
    
            <div class="fourth-story-section">
                <div class="fourth-story-section-text">
                    <p>
                        We would talk on phone for hours without getting tired and we were always looking for ways to meet as her off days were always off timing for me.
                        We became best of friends and this went on for months. Our dates were always intentional as she rarely has break.Fast forward to 2021, I invited
                        her to my parents house and she seamlessly bonded with everyone in my family to the extent that my mum invited her to her birthday party without 
                        my consent. 
                    <br> </br>
                        Sept 22, 2021, she was officially introduced to my family and everyone loved her. The rest they say is history as this is the case 
                        of friendship metamorphosing into love. I look forward to a lifetime of love, joy and happiness with Grace and I promise to always treat her like
                        the treasure she is. <span class="span">G&T2022</span> 
                    </p>
                </div>
            </div>
        </section>
    </section>

    
    <section id="location-section">
        <section class="location-navbar"> 
            <div class="location-navbar-text">
                <h3>LOCATION</h3>
                <h5>ST TIMOTHY'S ANGLICAN CHURCH</h5>
                <p>
                    Idiroko Rd, Opp. Domino Pizza Sango Ota. P.O. Box 89, Ota, Ogun State, Nigeria
                </p>
            </div>
           
        </section>
    
        <section class="location-second-section">
            <div class="location-row">
                <div class="location-second-section-col">
                   <a href="https://grace-tuntom.herokuapp.com/engagementMap"><img src="/Images/Reception Hall3.jpg" alt="E&R"></a> 
                    <a href="https://grace-tuntom.herokuapp.com/engagementMap">ENGAGEMENT & RECEPTION </a>
                    <p>Engagement & Reception holds at the Church Basement St. Timothy Anglican Church, Ota.  
                <div class="location-second-section-col">
                    <a href="https://grace-tuntom.herokuapp.com/churchmap"><img src="/Images/Church Hall.jpg"  alt="Church"></a>
                    <a href="https://grace-tuntom.herokuapp.com/churchmap">CHURCH</a>
                    <p>St Timothy Anglican Church, Idiroko Rd, Opp. Domino Pizza Sango Ota. P.O. Box 89, Ota, Ogun State, Nigeria
                    </p>
                </div>
            </div>
        </section>
    </section>

   

    <section class="crew-section" id="crew-section">

        <h1 class="crew-header">MEET THE CREW</h1>
        <section class="chairman">
         <img src="/Images/IMG-20221023-WA0003.jpg" alt="">
         <h3>About The Chairman</h3>
         <p>
             Mr Edward Ashade hails from Imeke, Badagry and has been married for over two decades
             to Mrs Bamidele Ashade. He is an auditor by profession and a fellow of the institute
             of Chartered Accountants of Nigeria who has been practising for over three decades.
             <br>
             He is a husband to one wife and a good father to four godly children. His marital life 
             is blissful and worthy of emulation.
         </p>
        </section>
    
     <section class="crew">
    
         <div class="wrap">
             <images class="container">
                 <img src="https://via.placeholder.com/320" alt="">
                 
                 <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                     Nunc posuere purus rhoncus pulvinar aliquamorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                     Nunc posuere purus rhoncus pulvinar aliquam
                 </div>
             </images>
             <images class="container">
                 <img src="https://via.placeholder.com/320" alt="">
                 <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                     Nunc posuere purus rhoncus pulvinar aliquam orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                     Nunc posuere purus rhoncus pulvinar aliquam
                 </div>
             </images>
             <images class="container">
                 <img src="https://via.placeholder.com/320" alt="">
                 <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                     Nunc posuere purus rhoncus pulvinar aliquam orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                     Nunc posuere purus rhoncus pulvinar aliquam
                 </div>
             </images>
             <images class="container">
                 <img src="https://via.placeholder.com/320" alt="">
                 <div class="overlay">orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                     Nunc posuere purus rhoncus pulvinar aliquam orem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                     Nunc posuere purus rhoncus pulvinar aliquam
                 </div>
             </images>
             <images class="container">
                 <img src="/Images/IMG-20221022-WA0000.jpg" alt="">
                 <div class="overlay">
                    <ul>
                        <li>
                            <p>MICHEAL WORSHIP</p>
                        </li>
                    </ul>
                 </div>
             </images>
             <images class="container">
                 <img src="/Images/IMG-20221022-WA0001.jpg" alt="">
                 <div class="overlay">
                    <ul>
                        <li>
                            <p>MODEPO OLUWATOBI</p>
                        </li>
                    </ul>
                 </div>
             </images>
         </div>
         
        
     </section>
    
    </section>

   <section class="gallery" id="gallery-section">
        <h1>GALLERY</h1>
        <images class="gallery-container">
            <img src="/Images/DSC07427.jpg" alt="">
            <img src="/Images/5.jpg" alt="">
            <img src="/Images/3.jpg" alt="">
            <img src="/Images/1.jpg" alt="">
            <img src="/Images/4.jpg" alt="">
            <img src="/Images/IMG-20221011-WA0067.jpg" alt="">
            <img src="Images/IMG-20221011-WA0059.jpg" alt="">
            <img src="Images/IMG_20220910_150726_353.jpg" alt="">
            <img src="/Images/DSC07373.jpg" alt="">
        </images>
       
    </section>

    <section class="rsvp" id="rsvp-section">
        <section class="rsvp-navbar"> 
            <div class="rsvp-navbar-text">
                <h3>RSVP</h3>
                <p>venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                   fermentum vel tincidunt neque.  <br> Sed sed venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                   <br>fermentum vel tincidunt neque. Sed sed
                </p>
            </div>
           
        </section>
    
        <section class="cta">
            <form action="https://grace-tuntom.herokuapp.com/rsvp" method="post">
                <label for="name" class="label-name">NAME</label> 
                <input type="text" id="inputName" class="name"  name="name" autocomplete="off" required> <br>
                <label for="message" class="label-message">LEAVE YOUR MESSAGE</label>
                <textarea name="textarea" id="textMessage" class="message" cols="30" rows="7" required></textarea>
                <button type="submit" id="button" value="rsvp">SUBMIT</button>
            </form>
    
        </section>
          
        <section class="substances">
            <h4>Support Us With Your Prayers And Substances</h4>
            <div class="account">
                <div class="groom-account">
                    <p>Access Bank</p> <br>
                    <p>Account Name: Ashade Olatunji O.</p> <br>
                    <p>Account Number: 0731313264</p>
                </div>
                <div class="bride-account">
                    <p>First Bank</p> <br>
                    <p>Account Name:Akinola Grace Oluwaseun</p> <br>
                    <p>Account Number: 3064799259</p>
                </div>
            </div>
          
        </section>
    
    </section>

    



    <script src="index.js"></script>
    <script src="counter.js"></script>
    <script src="alert.js"></script>
</body>
</html>