<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Story</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <section class="location-navbar"> 
        <div class="location-navbar-text">
            <h3>LOCATION</h3>
            <h5>ST TIMOTHY'S ANGLICAN CHURCH</h5>
            <p>
                Idiroko Rd, Opp. Domino Pizza Sango Ota. P.O. Box 89, Ota, Ogun State, Nigeria
            </p>
        </div>
       <nav>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="secondClick"></i>
            <ul>
                <li>
                    <a href="https://grace-tuntom.herokuapp.com/">HOME</a>
                </li>
                <li>
                    <a href="https://grace-tuntom.herokuapp.com/story">OUR STORY</a>
                </li>
                <li>
                    <a href="https://grace-tuntom.herokuapp.com/location">LOCATION</a>
                </li>
                <li>
                    <a href="https://grace-tuntom.herokuapp.com/crew">MEET THE CREW</a>
                </li>
                <li>
                    <a href="https://grace-tuntom.herokuapp.com/gallery">GALLERY</a>
                </li>
                <li>
                    <a href="https://grace-tuntom.herokuapp.com/rsvp">RSVP</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" id="firstClick"></i>
       </nav>
    </section>

    <section class="location-second-section">
        <div class="location-row">
            <div class="location-second-section-col">
               <a href="https://grace-tuntom.herokuapp.com/engagementMap"><img src="/Images/Reception Hall3.jpg" alt="E&R"></a> 
                <a href="https://grace-tuntom.herokuapp.com/engagementMap">ENGAGEMENT & RECEPTION </a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                   Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor
                   venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                   fermentum vel tincidunt neque. Sed sed
                </p>
            </div>

            <div class="location-second-section-col">
                <a href="https://grace-tuntom.herokuapp.com/churchmap"><img src="/Images/Church Hall.jpg"   alt="Church"></a>
                <a href="https://grace-tuntom.herokuapp.com/churchmap">CHURCH</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit nisi sed sollicitudin pellentesque.
                   Nunc posuere purus rhoncus pulvinar aliquam. Ut aliquet tristique nisl vitae volutpat. Nulla aliquet porttitor
                   venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
                   fermentum vel tincidunt neque. Sed sed
                </p>
            </div>
        </div>
    </section>

    <script src="index.js"></script>
</body>
</html>