<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSVP</title>
    <link rel="stylesheet" href="rsvp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="rsvp-navbar"> 
        <div class="rsvp-navbar-text">
            <h3>RSVP</h3>
            <p>venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
               fermentum vel tincidunt neque.  <br> Sed sed venenatis. Donec a dui et dui fringilla consectetur id nec massa. Aliquam erat volutpat. Sed ut dui ut lacus dictum 
               <br>fermentum vel tincidunt neque. Sed sed
            </p>
        </div>
       <nav>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="secondClick"></i>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/story">OUR STORY</a>
                </li>
                <li>
                    <a href="/location">LOCATION</a>
                </li>
                <li>
                    <a href="/crew">MEET THE CREW</a>
                </li>
                <li>
                    <a href="/gallery">GALLERY</a>
                </li>
                <li>
                    <a href="/rsvp">RSVP</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" id="firstClick"></i>
       </nav>
    </section>

    <section class="cta">
        <form action="/rsvp" method="post">
            <label for="name" class="label-name">NAME</label> 
            <input type="text" id="inputName" class="name"  name="name" autocomplete="off" required> <br>
            <label for="message" class="label-message">LEAVE YOUR MESSAGE</label>
            <textarea name="textarea" id="textMessage" class="message" cols="30" rows="7" required></textarea>
            <button type="submit" id="button" value="rsvp">SUBMIT</button>
        </form>

    </section>
      
    <section class="substances">
        <h4>Support Us With Your Prayers And Substances</h4>
        <div class="account">
            <div class="groom-account">
                <p>Access Bank</p> <br>
                <p>Account Name: Ashade Olatunji O.</p> <br>
                <p>Account Number: 0731313264</p>
            </div>
            <div class="bride-account">
                <p>First Bank</p> <br>
                <p>Account Name:Akinola Grace Oluwaseun</p> <br>
                <p>Account Number: 3064799259</p>
            </div>
        </div>
      
    </section>

    <script src="index.js"></script>
    <script src="alert.js"></script>
</body>
</html>