<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Story</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="story-navbar"> 
        <div class="story-navbar-text">
            <h3>OUR STORY</h3>
            <p>
               It all started with, hi, happy sunday. We enjoyed your guitar today, will u come next Sunday, did u enjoy our service?
               and she requested my contacts. <br>  Learn a musical instruments, e get why!
            </p>
        </div>
       <nav>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" id="secondClick"></i>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/story">OUR STORY</a>
                </li>
                <li>
                    <a href="/location">LOCATION</a>
                </li>
                <li>
                    <a href="/crew">MEET THE CREW</a>
                </li>
                <li>
                    <a href="/gallery">GALLERY</a>
                </li>
                <li>
                    <a href="/rsvp">RSVP</a>
                </li>
            </ul>
        </div>
        <i class="fa fa-bars" id="firstClick"></i>
       </nav>
    </section>


    <section class="second-story">
        <div class="second-story-text">
            <h3>FIRST MET</h3>
            <p>
                    I met Grace during my Nysc, I was invited to one of the churches in the town by a fellow corper who saw me playing guitar some 
                    days after resumption fully for the service year. He was excited seeing another instrumentalist and said he would love us to play together.
                    So he invited me to his church which was my first Sunday service in the town. He came to pick me Saturday preceding the Sunday for the 
                    choir rehearsal where I first met Grace. Our love wasn't a love at first sight but I admired her as she has a sonorous voice that compliments
                    her look coupled with how she coordinates her choir team. The Sunday service was electrifying as she led the congregation in praise and worship
                    songs. While parking my guitar after the service, she came around in excitement of a flawless song rendition and how amazing my guitar sounded. 
                    It all started with;...hi, happy sunday. We really enjoyed you during service today, hope to see you next sunday! Did you enjoy our service?,.should 
                    we be expecting u next Sunday blah blah blah,. as we both chitchat for a while.  
                <br> </br>
                Being indecisive, I still wanted to explore other denominations before settling for one but here comes a damsel extending an arm of fellowship with me already.
                 Lo and behold, she requested my contact and we continued our discussion online. Our talks were all platonic, no strings attached just church and music but I do 
                 enjoy her company each time we had contact and love to hear her sing. Fast forward to 2019 I was at ShopRite with my cousin when I heard corper Tunji from behind. 
                 Turning around I saw Grace with her charming smile, all glammed up. We hugged, chatted and exchange contact again. During the small chat, I discovered she had 
                 finished nursing school and just got an offer in Lagos to resume on Monday. I wished her luck and we kept in touch since then. All along we kept on talking, chatting 
                 and I discovered we had a lot of things in common. Our orientation and perception about things were kind of similar, and to crown it all she's phenomenal, not the
                 regular drama queen or entitled lady. She is quiet and the true definition of peace of mind you can ever think of. At first, I thought she was faking it as she rarely 
                 get upset, she'd just smile and has this stylish way of turning things down without really speaking out. 
            </p>
        </div>

        <div class="third-story-section">
            <div class="third-story-section-text">
                <h3>So Far <br> So <br> Good </h3>
            </div>
        </div>

        <div class="fourth-story-section">
            <div class="fourth-story-section-text">
                <p>
                    We would talk on phone for hours without getting tired and we were always looking for ways to meet as her off days were always off timing for me.
                    We became best of friends and this went on for months. Our dates were always intentional as she rarely has break.Fast forward to 2021, I invited
                    her to my parents house and she seamlessly bonded with everyone in my family to the extent that my mum invited her to her birthday party without 
                    my consent. 
                <br> </br>
                    Sept 22, 2021, she was officially introduced to my family and everyone loved her. The rest they say is history as this is the case 
                    of friendship metamorphosing into love. I look forward to a lifetime of love, joy and happiness with Grace and I promise to always treat her like
                    the treasure she is. <span class="span">G&T2022</span> 
                </p>
            </div>
        </div>
    </section>

    <script src="index.js"></script>
</body>
</html>