body{
    background-color: royalblue;
}
/* --------------Navbar------------ */

nav {
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    flex: 1;
    text-align: center;
    
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-left: 30px;
}

.nav-links ul li a {
    text-decoration: none;
    color: peachpuff;
    cursor: pointer;
}

.nav-links ul li:hover {
    background-color: peachpuff;
    border-radius: 50%;
    transform: scale(1.1);
    transition: 0.5s;
}

.nav-links ul li a:hover {
    color: royalblue;
    transition: 0.7s;
}

/* media query */

@media(max-width: 700px) {
    .nav-links ul li {
        display: block;
        margin-bottom: 30px;
    }

    .nav-links {
        position: absolute;
        background: grey;
        height: 100vh;
        width: 230px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        box-sizing: border-box;
        display: none;
    }

    nav .fa {
        display: block;
        color: peachpuff;
        margin: 10px;
        cursor: pointer;
        font-size: 22px;
    }

    .nav-links ul {
        padding: 30px;
        box-sizing: border-box;
        overflow: hidden;
    }

    body {
        overflow-x: hidden;
    }

}
@media(min-width: 701px) {
nav .fa{
    display: none;
}
}

/* -----Gallery------------- */
.gallery{
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery h1{
    color: rgb(233, 145, 68);
    font-size: 3rem;
}
.gallery img{
    width: 310px;
    height: 460px;
    margin: 1.5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: none;
}
.gallery img:hover{
    box-shadow: 0px 30px 18px -8px rgba(233, 145, 68, 0.7);
    transform: scale(1.05, 1.05);
}

.container{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* media query */
@media screen and (max-width: 600px) {
    .gallery{
        padding: 2rem 1rem;
    }
}
 
@media screen and (max-width: 400px) {
    .gallery{
        padding: 2rem 1rem;
    }
    .gallery h1{
        font-size: 2rem;
    }
    .container{
        margin-top: 1rem;
    }
    .gallery img{
        width: "100%";
        margin: 1rem;
    }
}